<!-- footer section start -->

<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>Quick Link</h3>
      <a href="home"><i class="fas fa-chevron-right"></i>HOME</a>
      <a href="services"><i class="fas fa-chevron-right"></i>SERVICES</a>
      <a href="about"><i class="fas fa-chevron-right"></i>ABOUT</a>
      <a href="doctors"><i class="fas fa-chevron-right"></i>DOCTORS</a>
      <a href="book"><i class="fas fa-chevron-right"></i>BOOK</a>
      <a href="review"><i class="fas fa-chevron-right"></i>REVIEW</a>
      <a href="blogs"><i class="fas fa-chevron-right"></i>BLOGS</a>
    </div>

    <div class="box">
      <h3>OUR SERVICES</h3>
      <a href="services"><i class="fas fa-chevron-right"></i>DENTAL CARE</a>
      <a href="services"><i class="fas fa-chevron-right"></i>MESSAGE THERAPY</a>
      <a href="services"><i class="fas fa-chevron-right"></i>CARDIOLOTY</a>
      <a href="services"><i class="fas fa-chevron-right"></i>DIAGNOSIS</a>
      <a href="services"
        ><i class="fas fa-chevron-right"></i>AMBULANCE SERVICES</a
      >
    </div>

    <div class="box">
      <h3>CONTACT INFO</h3>
      <a href="#"><i class="fas fa-phone"></i>+91 9689363206</a>
      <a href="#"><i class="fas fa-phone"></i>+91 9403068631</a>
      <a href="https://mail.google.com/"
        ><i class="fas fa-envelope"></i>akshayvs2448gmail.com</a
      >
      <a href="#"><i class="fas fa-envelope"></i>avshimpi7gmail.com</a>
      <a href="#"><i class="fas fa-map-marker-alt"></i>DHULE, INDIA-424318</a>
    </div>

    <div class="box">
      <h3>FOLLOW US</h3>
      <a href="#"><i class="fab fa-facebook-f"></i>FACEBOOK</a>
      <a href="#"><i class="fab fa-twitter"></i>TWITTER</a>
      <a href="#"><i class="fab fa-instagram"></i>INSTAGRAM</a>
      <a href="#"><i class="fab fa-linkedin"></i>LINKEDIN</a>
      <a href="#"><i class="fab fa-pinterest"></i>PINTEREST</a>
    </div>
  </div>
  <div class="credit">
    created by <span>[ AkshayShimpi ]</span> | ALL RIGHT RESERVED 2023
  </div>
</section>

<!-- footer section end -->
