<!-- About section start -->
<section class="about" id="about">
  <h3 class="heading"><span>ABOUT</span>US</h3>
  <div class="row">
    <div class="image">
      <img src="../../assets/images/Health professional team (4).gif" alt="" />
    </div>
    <div class="content">
      <h3>
        We Take Care of your<br />
        healthy life
      </h3>
      <p>
       <b> Welcome to our Hospital Management System, where your well-being is our
        unwavering commitment. Our innovative platform revolutionizes patient
        management, appointment scheduling, and medical records, ensuring
        seamless and personalized healthcare delivery. With a team of highly
        skilled professionals and cutting-edge facilities, we are dedicated to
        providing unparalleled care and support. Rely on us to safeguard your
        health, offering peace of mind and superior quality of life. Embrace the
        future of healthcare with us, where excellence and your health are at
        the heart of everything we do.</b>
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span
      ></a>
    </div>
  </div>
</section>
<!-- About section ends -->
