<!-- Review section Start -->

<section class="review" id="review">
  <h1 class="heading">Client's<span>Review</span></h1>
  <div class="box-container">
    <div class="box">
      <img src="../../assets/images/client1.jpg" alt="" />
      <h3>Dr. Pranav Shimpi</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Dr.Pranav Shimpi’s dedication and expertise have transformed patient
        care with exceptional professionalism.His commitment to excellence and
        patient satisfaction is truly unparalleled."
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/client2.jpg" />
      <h3>Dr.Tarika</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        "Dr. Tarika's compassionate approach and expert care have earned
        widespread acclaim from patients. Her dedication to enhancing patient
        well-being is both inspiring and exemplary."
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/client3.jpg" />
      <h3>Dr. Prachi shah</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        "Dr. Prachi Shah is renowned for her insightful care and unwavering
        dedication to patient health. Her exceptional skills and compassionate
        approach consistently exceed expectations."
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/review4.jpeg" />
      <h3>Dr. Divya</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        "Dr. Divya is celebrated for her meticulous attention to detail and
        genuine empathy in patient care. Her expertise and commitment make her a
        standout professional in the field."
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/client3.jpg" />
      <h3>Dr.Kavita</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        "Dr. Kavita is praised for her exceptional medical expertise and warm,
        attentive care. Her dedication to patient well-being and personalized
        approach sets a high standard in healthcare."
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/review3.jpeg" />
      <h3>Dr.Smit</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        "Dr. Smit is highly esteemed for his profound knowledge and
        patient-centered approach. His dedication to providing outstanding care
        and achieving positive outcomes is truly remarkable."
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/review2.webp" />
      <h3>Dr.Anderson</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        "Dr. Anderson is renowned for his unparalleled expertise and
        compassionate care. His commitment to patient wellness and meticulous
        attention to detail consistently earns high praise."
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/review1.jpg" />
      <h3>Dr.Toche</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        "Dr. Toche is celebrated for her exceptional skill and empathetic
        approach to patient care. Her dedication to providing personalized and
        effective treatment has garnered widespread acclaim."
      </p>
    </div>
  </div>
</section>
<!-- Review section Start -->
