<!-- services section start -->

<section class="services" id="services">
  <h1 class="heading">Our<span>Services</span></h1>
  <div class="box-container">
    <div class="box">
      <i class="fas fa-notes-medical"></i>
      <h3>Free Checkups</h3>
      <p>
        "Take charge of your health with our Free Checkups, ensuring early
        detection and peace of mind. Join us in prioritizing your well-being for
        a healthier tomorrow."
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-ambulance"></i>
      <h3>24/7 Ambulance</h3>
      <p>
        "Swift and reliable, our 24/7 Ambulance service is always on standby to
        provide life-saving assistance when you need it most. Your emergency is
        our priority, every hour of every day."
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-user-md"></i>
      <h3>Expert Doctors</h3>
      <p>
        "Trust your health to our team of Expert Doctors, dedicated to providing
        top-notch care with compassion and precision. Experience excellence in
        every diagnosis and treatment."
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-pills"></i>
      <h3>Medicines</h3>
      <p>
        "Access a wide range of quality Medicines, ensuring effective treatment
        and swift recovery. Your health is our commitment, delivered with care
        and precision."
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-procedures"></i>
      <h3>Bed Facility</h3>
      <p>
        "Experience comfort and care with our state-of-the-art Bed Facilities,
        designed for your optimal recovery. Rest easy knowing you're in the best
        hands."
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-heartbeat"></i>
      <h3>Total Care</h3>
      <p>
        "Embrace comprehensive wellness with our Total Care services, dedicated
        to nurturing every aspect of your health. From prevention to recovery,
        we're with you every step of the way."
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>
    <div class="box">
      <i class="fas fa-user-nurse"></i>
      <h3>Nurse</h3>
      <p>
        "Receive compassionate and professional support from our dedicated
        nurses, committed to your well-being. With every touch, they bring care
        and comfort to your healing journey."
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-stethoscope"></i>
      <h3>HEALTH Care</h3>
      <p>
        "Prioritize your wellness with our comprehensive Health Care services,
        tailored to meet all your medical needs. Your health is our mission,
        delivered with excellence and compassion."
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>
  </div>
</section>
<!-- services section  end-->
